@font-face {
  font-family: "Season Mix";
  src: url("/fonts/season-mix/SeasonMix-TRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Season Mix";
  src: url("/fonts/season-mix/SeasonMix-TRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Season Mix";
  src: url("/fonts/season-mix/SeasonMix-TRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Season Mix";
  src: url("/fonts/season-mix/SeasonMix-TRIAL-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Season Mix";
  src: url("/fonts/season-mix/SeasonMix-TRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
